*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 20px;
  background-color: yellow;
  width: auto;
  height: 250px;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 200px;
  flex-direction: column;
}

.image_section {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  position: absolute;
  width: 150px;
}

.ears,
.hairs, .legs{
  z-index: 1;
}

.accessories,
.eyes,
.nose,
.mouths {
  z-index: 2;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.button_section {
  width: 200px;
  height: 170px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  align-items: flex-start;
}

button {
  font-size: 8px;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}
